@import "../../styles.scss";

.read-only-container {
  position: relative;

  i {
    color: rgb(134, 134, 134);
    position: absolute;
    left: 0px;
    top: 5px;
  }

  .padding-icon {
    padding-left: 20px;
  }
}

.input-bordered-container {
  position: relative;

  i {
    color: rgb(134, 134, 134);
    position: absolute;
    left: 14px;
    top: 12px;
  }

  input {
    border: solid $icafal-orange 1px;
    border-radius: 3px;
    display: block;
    height: 38px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;

    &::placeholder {
      color: #bbb;
    }
  }

  .border-error {
    border: solid red 3px;
    border-radius: 4px;
  }

  .warning {
    color: red;
    position: absolute;
    left: calc(100% + 10px);
    top: 14px;
    width: 20px;
  }

  .padding-icon {
    padding-left: 40px;
  }
}

.bold-label {
  font-weight: bold;
}

.locked-value {
  padding-bottom: 20px;
  padding-left: 5px;
}
