@import "../../styles.scss";

.modal-add-button {
  margin-left: 20px;

  button {
    background-color: $icafal-background;
    border: none;
    color: $icafal-orange;
    font-size: 3em;
    padding: 0;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $icafal-orange-dark;
    }
  }
}
