@import "../../Assets/css/general.scss";

.sidebar {
  width: 200px;

  .content {
    padding: 16px;
    height: 100%;

    .sidebarLink {
      color: $icafal-orange;
      display: block;
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      color: rgb(255, 123, 0);
      padding: 0;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
