@import "../../styles.scss";

.button-download-csv {
    background-color: $theme-background;
    border: none;
    color: #666;
    font-size: 30px;
    padding: 0;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: $theme-orange-dark;
    }
}
