@import "../../styles.scss";

.item-option {
  color: white;
  background-color: $icafal-orange;
  border: none;
  border-radius: 2px;
  display: block;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 5px;

  &:hover:not([disabled]) {
    background-color: #db4d00;
    cursor: pointer;
  }

  &:disabled {
    cursor: auto;
  }
}

.align-btn{
  margin-top:21px
}
