@import "../../styles.scss";

.read-only-container {
  .label {
    font-weight: bold;
  }

  .read-only-value {
    padding-bottom: 20px;
    padding-left: 5px;
  }
}

.select-container {
  position: relative;

  select {
    border: solid $icafal-orange 1px;
    border-radius: 3px;
    display: block;
    height: 38px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
  }

  .border-error {
    border: solid red 3px;
    border-radius: 4px;
  }

  .warning {
    color: red;
    position: absolute;
    left: calc(100% + 10px);
    top: 14px;
    width: 20px;
  }

  .padding-icon {
    padding-left: 40px;
  }
}
