.container-login{
    margin: 20% 0;
    .container__logo {
        margin: 0 0 50px;
        text-align: center;
        img{
            width: 200px;
        }
    }
    & .link{
        color: #ccc;
        text-decoration: underline;
        font-size: 16px;
    }
}
.box{
    background: $color-white;
    border: solid 1px $color-borde;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 80px;
}
.btn-orange{
    width: 100%;
    text-transform: uppercase;
    background-color: $color-orange !important;
    border: solid 1px $color-orange !important;
    font-weight: 500 !important;
    &:hover{
        background-color: $color-white !important;
        color: $color-orange !important;
    }
}