$width-sidebar:18rem;
$width-close: 5rem;

$burger: white;

/***COLORES BASE***/
$color-orange: #ff5900;
$color-white: #fff;
$color-borde:#ccc;
$back-gray-claro:#f4f4f4;


$back-gray: #627171;
$back-green: #95c11f;