body, div, p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

/***COLORES BASE***/
$color-orange: #ff5900;
$color-borde:#ccc;
$color-light-gray:#f4f4f4;

$width-sidebar:18rem;
$width-close: 5rem;
