$width-sidebar:18rem;
$width-close: 5rem;
$color-white: #fff;
$color-borde:#ccc; 

$burger: white;

/*Background*/

$back-blue: #02a6c8;
$back-gray: #627171;
$back-gray-claro:#f2f2f2;
$back-green: #95c11f;

@import './navBarTop.scss';
@import './sideBarMenu.scss';
@import './content.scss';