$width-sidebar:18rem;
$width-close: 5rem;

$burger: white;

/***COLORES BASE***/
$color-orange: #ff5900;
$color-white: #fff;
$color-borde:#ccc;


$back-gray: #627171;
$back-gray-claro:#f2f2f2;
$back-green: #95c11f;

@import './navBarTop.scss';
@import './sideBarMenu.scss';
@import './content.scss';