.sidebar {
	&-left {
		& .icon-brand {
			display: none;
		}
		& .img-fluid {
			width: 130px;
		}
		& .sidebar-icon {
			width: 17px;
			margin-right: 5px;
			margin-bottom: 5px;
		}
		& .avartar-user {
			width: 150px;
			height: 150px;
			margin-top: 25px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center right;
		}
		& {
			height: 100%;
			width: $width-sidebar;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: $color-white;
			overflow-x: hidden;
			padding-top: 0px;
			padding-left: 20px;
			padding-right: 35px;
			transition: width 0.5s;
		}
		& .li-link,
		li.frist-brand {
			padding: 10px 0px 10px 0px;
			border-bottom: solid 1px $color-borde;
		}
		& .li-link {
			cursor: pointer;
			font-size: 15px;
			color: #aeaeae;
			display: block;
			&:first-of-type {
				border-top: 0px solid;
			}
		}
		& .li-link {
			& li {
				color: #f1f1f1;
				border-bottom: 0px solid white;
				padding: 15px 0px 0px 0px;
			}
		}
		& .li-sub-link{
			margin: 0;
			padding: 0 0 0 10px !important;
			font-size: 15px;
			color: #cccccc !important;
		}
		& li:hover {
			color: #f1f1f1;
		}
		& a:hover {
			color: #f1f1f1;
			text-decoration: none;
		}
		& ul {
			list-style: none;
		}
	}
	&-close {
		width: $width-close;
		padding-left: 15px;
		padding-right: 15px;
		transition: width 0.5s;
		& .black {
			height: 45px;
		}
		& .bar-sidebar-left {
			margin: auto;
			float: none;
		}
		& .sidebar-label {
			text-align: left !important;
		}
		& li {
			text-align: center;
		}
		& .icon-brand {
			display: block;
			width: 30px;
			margin: auto;
			margin-bottom: 15px;
			margin-top: 25px;
		}
		& .icon-brand-open {
			display: none;
		}
		& .avartar-user {
			margin-top: 0px;
			width: 45px;
			height: 45px;
		}
	}
}

.main {
	.mainSideBar {
		display: inline-block;
		border-right: solid 1px #f1f1f1;
		.sidebar-left {
			position: relative;
		}
	}
	.mainContent {
		display: inline-block;
		width: auto;
		vertical-align: top;
		width: 77%;
		margin-bottom: 50px;
	}
}
.sidenav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: solid 1px $back-gray-claro;
}
.main-icafal {
	margin-left: 300px;
	padding: 0px 10px;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
@media (max-width: 750px) {
	.sidenav {
		margin-left: -300px;
		width: 0;
	}
	.main-icafal {
		margin-left: 0;
	}
}
.logo-menu{
	width: 120px;
}