@import "../Assets/css/general.scss";

.top-area {
  background-color: $icafal-background;
  padding: 0 20px;
  padding-top: 10px;
}

.content-area {
  background-color: $icafal-background;
  min-height: 100vh;
  overflow: auto;
  padding: 20px;
  padding-top: 0px;
}
