.compare-column {
  padding: 20px;
}

.compare-title-container {
  position: relative;
}

.compare-title-info {
  margin-top: 10px;
}

.document-pdf-icon {
  background-color: #f2f2f2;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top: 4px;
  a {
    color: red;
    font-size: 2.8em;
  }
}

.image-compare {
  width: 100%;
}

.section-compare {
  margin-top: 20px;
}
