body,
div,
p {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

$icafal-orange: #ff5900;
$icafal-orange-dark: rgb(190, 51, 1);
$icafal-background: #f2f2f2;

.ReactTable {
  .-header {
    background-color: $icafal-orange;
    color: white;
    display: none;
  }

  .rt-resizable-header-content {
    padding: 4px 0;
  }

  .rt-th input {
    border: solid 1px #999 !important;
  }
}

.modal-header .close {
  outline: 0;
}

.form-actions {
  display: flex;
  justify-content: space-around;
  span {
    cursor: pointer;
  }
}

.select-icafal {
  border: 1px solid $icafal-orange;
  height: 40px;
  margin-bottom: 12px;
  width: 100%;
}
